@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    font-family: 'Lato',sans-serif;
    color:#333;
    line-height: 1.6;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

h1,h2{
    font-weight: 300; /*Little less bold*/
    line-height: 1.2;
    margin: 10px 0;
}
p{
    margin:10px 0;
}
img{
    width:100%; /* To keep images with in their container (100% of container)*/
}
.navbar{
background-color: #047aed;
color: #fff;
height: 70px;

}
.container{
    max-width: 1100px;
    margin:0 auto;/*to centralize*/
    overflow: auto;/*to get rid of margin-top */
    padding: 0 40px;
}
.navbar .flex{
    justify-content: space-between;/*space between is equally spaced*/
}

.flex{
    display: flex;/*align row by row*/
    /*flex-direction: column; ->align by column */
    align-items: center;
    height: 100%; /*height should be same as container" */
}

.navbar ul{
    display: flex;
    
}

.navbar a{
    color:#fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover{
    border-bottom:solid;
    border-color: #fff;
}